Repository gambitph/Stackable, pull requests merged in 2021-09, with the labels that each got.

#1462 Changed card classes from `.stk-card` to `.stk-block-card`
  src/block/card/edit.js
  src/block/card/save.js
  src/block/card/style.js
  src/block/card/style.scss
Labels: [version] V3, [block] card

#1465 Fix: Added fallback svg height and width values to icons
  src/block-components/icon/font-awesome-icon.js
Labels: PR: Needs Review, [version] V3, [block] button, [block] icon button, [block] icon

#1466 Fix: Fixes background selectors
  src/block-components/helpers/backgrounds/style.js
Labels: PR: Needs Review, [version] V3, [block] column

#1468 Fix: Added responsive preview support
  gulpfile.js
  package-lock.json
  package.json
Labels: PR: Needs Review, [version] V3, v2 compatibility

#1471 Fix: When `props.unit` is provided, use it instead in AdvancedRangeControl
  src/components/advanced-range-control/index.js
Labels: [version] V2, [block] v2 advanced column, PR: Needs Review, v2 compatibility

#1473 Fix: If the active style is clicked, it should not trigger the `onSelect` function
  src/block-components/block-style/block-styles.js
Labels: PR: Needs Review, [version] V3, [block] button

#1474 Fix: fixes button URL onChange function props
  src/components/url-input-popover/index.js
  src/deprecated/v2/components/button-edit/index.js
Labels: [block] v2 button, PR: Needs Review, [version] V3

#1483 Feat: Added block link to icon block, added premium features
  src/block-components/icon/attributes.js
  src/block-components/icon/edit.js
  src/block-components/icon/editor.scss
  src/block-components/icon/index.js
  src/block-components/icon/style.js
  src/block-components/icon/style.scss
  src/block/icon/edit.js
  src/block/icon/save.js
  src/block/icon/schema.js
  src/components/advanced-toolbar-control/index.js
  src/util/index.js
Labels: PR: Needs Review, [version] V3, [block] icon

#1489 Fix: Added responsive alignment classes
  src/block-components/alignment/use-alignment.js
  src/block/button-group/editor.scss
  src/block/button-group/style.scss
  src/block/icon-list/style.scss
  src/styles/block.scss
Labels: PR: Needs Review, [version] V3, [block] all blocks

#1498 Fix: Incorrect option name in v2 column background style
  src/deprecated/v2/block/column/style.js
Labels: [block] v2 advanced column, PR: Needs Review, [version] V3, v2 compatibility

#1500 Fix: Fixes icon label icon gap options
  src/block/icon-label/style.js
Labels: PR: Needs Review, [version] V3, [block] icon label

#1502 Fix: Remove icon wrapper when there's no icon
  src/block-components/icon/index.js
Labels: PR: Needs Review, [version] V3, [block] button

#1508 Fix: fixes container background affecting the image in card block
  src/block-components/image/editor.scss
Labels: PR: Needs Review, [version] V3, [block] card

#1519 Fix: Hover effects should only get applied to the actual icon
  src/block-components/icon/style.js
  src/block/icon/style.js
Labels: PR: Needs Review, [version] V3, [block] icon

#1520 [CI] Continuous Integration for V3 Branch
  .github/workflows/js-unit-test.yml
  .github/workflows/php-5.6.39.yml
  .github/workflows/php-7.3.5.yml
  .github/workflows/php-7.4.1.yml
  .github/workflows/php-8.0.0.yml
Labels: PR: Needs Review, [version] V3, Continuous Integration

#1518 Fix: Fixes block errors when stackable blocks are inside the query loop block
  src/components/taxonomy-control/index.js
  src/hooks/use-block-hover-state.js
  src/plugins/block-hover-state/index.js
  src/plugins/index.js
Labels: PR: Needs Review, [version] V3, [block] all blocks

#1522 Fix: Added focus to rich text when icon list is selected
  src/block-components/typography/index.js
  src/block/icon-list/edit.js
Labels: PR: Needs Review, [version] V3, [block] icon list

#1523 Fix: Use Link module instead of BlockLink
  src/block-components/icon/attributes.js
  src/block-components/link/index.js
  src/block/icon/edit.js
  src/block/icon/save.js
  src/block/icon/schema.js
Labels: PR: Needs Review, [version] V3, [block] icon

#1580 Internal: Remove deprecated `withState`
  src/components/block-attributes-get-button/button.js
  src/components/icon-control/index.js
  src/deprecated/v2/block/accordion/edit.js
  src/deprecated/v2/block/columns/edit.js
Labels: PR: Needs Review, [version] V3, Continuous Integration

#1581 Internal: Removed imported WordPress modules
  .config/externals.js
  .github/workflows/compressed-diff.yml
  src/components/font-family-control/google-fonts.json
Labels: PR: Needs Review, [version] V3

#1565 Internal: Changed changeCallback to onChangeCallback
  src/block-components/separator/separator-control.js
  src/components/advanced-range-control/index.js
  src/components/advanced-text-control/index.js
  src/components/advanced-toggle-control/index.js
  src/components/advanced-toolbar-control/index.js
  src/components/color-palette-control/index.js
  src/components/four-range-control/index.js
  src/components/link-control/index.js
  src/components/shadow-control/index.js
Labels: PR: Needs Review, [version] V3

#1528 Fix: Changed dynamic content template
  src/components/dynamic-content-control/index.js
Labels: PR: Needs Review, dynamic-content, [version] V3

#1526 Fix: Reset the popover selected state in icon block
  src/deprecated/v2/block/icon/edit.js
Labels: [block] v2 icon, PR: Needs Review, [version] V3, v2 compatibility

#1525 Fix: Reset the popover selected state in icon block
  src/block/icon/edit.js
Labels: [version] V2, [block] v2 icon, PR: Needs Review

#1529 Feat: Text color classes
  src/block-components/button/edit.js
  src/block-components/typography/attributes.js
  src/block-components/typography/edit.js
  src/block-components/typography/get-typography-classes.js
Labels: PR: Needs Review, [version] V3, [block] all blocks

#1532 Fix: Added margin bottom to card block
  src/block/card/edit.js
  src/components/resizable-bottom-margin/index.js
Labels: PR: Needs Review, [version] V3, [block] card

#1534 Fix: Added word-break CSS property to handle long texts
  src/deprecated/v2/block/text/style.scss
Labels: [block] v2 advanced text, PR: Needs Review, [version] V3

#1533 Fix: Added word-break CSS property to handle long texts
  src/block/text/style.scss
Labels: [version] V2, [block] v2 advanced text, PR: Needs Review

#1535 Fix: Added word-break CSS property for V3 Blocks
  src/block/posts/style.scss
  src/styles/block.scss
Labels: PR: Needs Review, [version] V3, [block] subtitle, [block] text, [block] heading, [block] posts, [block] count up

#1540 Fix: Added alignment classes to image block
  src/block/image/edit.js
  src/block/image/save.js
  src/block/image/style.scss
Labels: PR: Needs Review, [version] V3, [block] image

#1549 Fix: Margin bottom should be hidden when picking a layout
  src/block/image-box/edit.js
  src/block/posts/edit.js
  src/block/separator/edit.js
Labels: PR: Needs Review, [version] V3, [block] image box

#1550 Fix: Close the icon popover after selecting an icon
  src/block-components/icon/index.js
Labels: PR: Needs Review, [version] V3, [block] icon button, [block] icon, [block] icon box, [block] icon label, [block] icon list

#1579 Enhancement: Remove block link toggle
  src/block-components/block-link/attributes.js
  src/block-components/block-link/edit.js
  src/block-components/block-link/index.js
Labels: PR: Needs Review, [version] V3, [block] all blocks

#1552 Fix: Removed v2 dependencies in v3 Posts Block
  src/block/posts/index.php
Labels: PR: Needs Review, [version] V3, [block] posts

#1554 Fix: Fixes horizontal layout
  src/block/card/style.scss
Labels: PR: Needs Review, [version] V3, [block] card

#1556 Fix: fix for pseudoselectors in style objects
  src/util/styles/style-object.js
Labels: PR: Needs Review, [version] V3, [block] card, [block] column, [block] container

#1558 Fix: Fixes separator padding styles
  src/block-components/separator/style.scss
Labels: PR: Needs Review, [version] V3, [block] separator

#1563 Fix: Icon should render if icon2 has a value
  src/block-components/icon/index.js
Labels: PR: Needs Review, [version] V3, [block] icon button, [block] icon, [block] icon box, [block] icon label

#1564 Fix: Fixes bottom separator style
  src/block-components/separator/style.js
Labels: PR: Needs Review, [version] V3, [block] separator

#1567 Fix: Fixes icon list toolbar in firefox
  src/block/icon-list/util.js
Labels: PR: Needs Review, [version] V3, [block] icon list

#1568 Fix: Added cursor copy when hovering over icons
  src/block/icon-list/editor.scss
  src/block/icon-list/style.js
Labels: PR: Needs Review, [version] V3, [block] icon list

#1569 Fix: Added hoverSelector fallback value in image block
  src/block-components/image/style.js
Labels: PR: Needs Review, [version] V3, [block] image

#1530 Feat: Pressing backspace should remove the block
  .config/externals.js
  src/block-components/button/edit.js
  src/block-components/typography/edit.js
  src/block-components/typography/index.js
  src/block/heading/edit.js
  src/block/heading/index.js
  src/block/heading/transforms.js
  src/block/icon-list/edit.js
  src/block/icon-list/index.js
  src/block/icon/edit.js
  src/block/icon/schema.js
  src/block/subtitle/edit.js
  src/block/subtitle/index.js
  src/block/subtitle/transforms.js
  src/block/text/edit.js
  src/block/text/index.js
  src/block/text/transforms.js
Labels: PR: Needs Review, [version] V3, [block] subtitle, [block] text, [block] heading

#1583 V2 Compatibility Fixes
  src/deprecated/v2/init.php
Labels: [block] v2 all blocks, [version] V3, v2 compatibility

#1593 Internal: Changed onChangeCallback to changeCallback
  src/block-components/button/edit.js
  src/block-components/separator/separator-control.js
  src/block-components/typography/edit.js
  src/components/advanced-range-control/index.js
  src/components/advanced-text-control/index.js
  src/components/advanced-toggle-control/index.js
  src/components/advanced-toolbar-control/index.js
  src/components/base-control2/hooks.js
  src/components/color-palette-control/index.js
  src/components/font-family-control/google-fonts.json
  src/components/four-range-control/index.js
  src/components/link-control/index.js
  src/components/resizable-bottom-margin/index.js
  src/components/shadow-control/index.js
Labels: PR: Needs Review, [version] V3

#1594 Fix: fixes hover color classes
  src/block-components/button/edit.js
  src/block-components/typography/edit.js
Labels: PR: Needs Review, [version] V3, [block] subtitle, [block] text, [block] heading

#1557 Fix: Added WP 5.5 compatibility to block adder
  src/hooks/use-variation-picker.js
  src/util/blocks.js
Labels: PR: Needs Review, [version] V3

#1590 Fix: Clicking the icon button should trigger the link popover
  src/block-components/button/index.js
  src/block/icon-button/edit.js
Labels: PR: Needs Review, [version] V3, [block] icon button

#1591 Fix: Separator overflows in tablet and mobile
  src/block/separator/style.scss
Labels: [version] V2, [block] v2 separator, PR: Needs Review

#1592 Fix: Separator overflows in tablet and mobile
  src/deprecated/v2/block/separator/style.scss
Labels: [block] v2 separator, PR: Needs Review, [version] V3

#1596 Fix: Handled rich-text refs in WP 5.5
  src/block-components/typography/index.js
Labels: PR: Needs Review, [version] V3, v2 compatibility, [block] icon list

#1599 Fix: fixes automatic clamping of values in WP 5.5
  src/components/advanced-range-control/range-control.js
Labels: [block] v2 separator, PR: Needs Review, [version] V3, v2 compatibility

#1663 Fix: Fixes button block errors
  src/block-components/button/style.js
Labels: PR: Needs Review, [version] V3, [block] button

#1613 Feat: Blockquote Layouts
  src/block-components/advanced/attributes.js
  src/block-components/advanced/edit.js
  src/block-components/advanced/style.js
  src/block-components/block-div/index.js
  src/block-components/typography/attributes.js
  src/block-components/typography/edit.js
  src/block-components/typography/style.js
  src/block/blockquote/edit.js
  src/block/blockquote/editor.scss
  src/block/blockquote/index.js
  src/block/blockquote/style.scss
  src/block/blockquote/variations.js
  src/block/divider/style.scss
  src/block/icon/block.json
  src/block/icon/edit.js
  src/block/icon/save.js
  src/block/image-box/variations.js
  src/block/separator/style.scss
  src/components/variation-picker/editor.scss
  src/components/variation-picker/index.js
  src/styles/block-design-system-blocks.scss
  src/styles/block-design-system.scss
  src/styles/editor-block-transitions.scss
  src/util/styles/style-object.js
Labels: PR: Needs Review, [version] V3, [block] blockquote

#1654 Feat: Feature Styles
  src/block-components/alignment/style.js
  src/block-components/block-div/style.js
  src/block-components/container-div/style.js
  src/block-components/helpers/size/style.js
  src/block/accordion/edit.js
  src/block/blockquote/style.js
  src/block/call-to-action/style.js
  src/block/card/style.js
  src/block/column/style.js
  src/block/feature/edit.js
  src/block/feature/editor.scss
  src/block/feature/index.js
  src/block/feature/save.js
  src/block/feature/schema.js
  src/block/feature/style.scss
  src/block/feature/variations.js
  src/block/heading/style.js
  src/block/hero/style.js
  src/block/icon-box/style.js
  src/block/notification/style.js
  src/block/team-member/style.js
  src/block/testimonial/style.js
  src/dynamic-breakpoints.php
  src/styles/block.scss
  src/styles/editor-block.scss
Labels: [version] V3, [block] feature

#1669 Fix: Fixes dynamic content pro notice
  src/components/dynamic-content-control/editor.scss
  src/components/dynamic-content-control/index.js
Labels: PR: Needs Review, dynamic-content, [version] V3

#1662 Fix: Enqueue global settings inline styles if there are no stackable …
  src/deprecated/v2/init.php
Labels: PR: Needs Review, [version] V3, v2 compatibility

#1682 Fixes button appender. Fixes #1643. Fixes #1645. Fixes #1680
  src/disabled-blocks.js
Labels: [version] V3, [block] button, [block] icon button, [block] button group, [block] social buttons

#1683 Fix: Global Settings v2 compatibility
  src/global-settings.php
  src/init.php
Labels: [block] v2 all blocks, [version] V3, v2 compatibility, global-settings

#1606 Feat: More button group features and styles
  src/block-components/button/attributes.js
  src/block-components/button/edit.js
  src/block-components/button/style.js
  src/block/button-group/edit.js
  src/block/button-group/save.js
  src/block/button-group/schema.js
  src/block/button-group/style.js
  src/block/button/block.json
  src/block/button/edit.js
  src/block/button/save.js
  src/dynamic-breakpoints.php
  src/styles/block.scss
  src/styles/editor-block.scss
Labels: PR: Needs Review, [version] V3, [block] button, [block] button group

#1602 Feat: More Card Styles
  src/block/button-group/index.js
  src/block/card/block-styles.js
  src/block/card/edit.js
  src/block/card/index.js
  src/block/card/style.js
  src/block/card/style.scss
  src/block/card/variations.js
Labels: PR: Good to Merge, [version] V3, [block] card

#1612 Feat: Accordion styles
  src/block/accordion/edit.js
  src/block/accordion/frontend-accordion.js
  src/block/accordion/index.js
  src/block/accordion/style.scss
  src/block/accordion/variations.js
  src/components/base-control2/hover-state-toggle.js
  src/hooks/use-block-hover-state.js
  src/util/attributes/index.js
  src/util/styles/style-object.js
Labels: PR: Needs Review, [version] V3, [block] accordion

#1622 Feat: Hero Styles
  src/block-components/helpers/borders/style.js
  src/block/feature/edit.js
  src/block/feature/save.js
  src/block/feature/schema.js
  src/block/feature/style.js
  src/block/hero/edit.js
  src/block/hero/index.js
  src/block/hero/variations.js
  src/block/image/edit.js
Labels: PR: Needs Review, [version] V3, [block] hero

#1625 Feat: Notification Styles
  src/block/notification/edit.js
  src/block/notification/index.js
  src/block/notification/save.js
  src/block/notification/schema.js
  src/block/notification/style.js
  src/block/notification/style.scss
  src/block/notification/variations.js
Labels: PR: Needs Review, [version] V3, [block] notification

#1626 Feat: Pricing Box Styles
  src/block/pricing-box/edit.js
  src/block/pricing-box/index.js
  src/block/pricing-box/variations.js
Labels: PR: Needs Review, [version] V3, [block] pricing box

#1639 Feat: Testimonial Styles
  src/block/testimonial/edit.js
  src/block/testimonial/editor.scss
  src/block/testimonial/index.js
  src/block/testimonial/style.scss
  src/block/testimonial/variations.js
  src/hooks/use-variation-picker.js
  src/styles/editor-block.scss
  src/util/index.js
Labels: [version] V3, [block] testimonial

#1630 Feat: Team Member Styles
  src/block/team-member/edit.js
  src/block/team-member/index.js
  src/block/team-member/variations.js
Labels: [version] V3, [block] team member

#1620 Feat: Call to Action Styles
  src/block-components/alignment/style.js
  src/block/call-to-action/edit.js
  src/block/call-to-action/editor.scss
  src/block/call-to-action/index.js
  src/block/call-to-action/style.scss
  src/block/call-to-action/variations.js
  src/block/image-box/edit.js
Labels: [version] V3, [block] call to action

#1614 Feat: Posts Designs
  src/block-components/content-align/edit.js
  src/block-components/typography/index.js
  src/block/posts/block-styles.js
  src/block/posts/design.js
  src/block/posts/edit.js
  src/block/posts/index.js
  src/block/posts/index.php
  src/block/posts/save.js
  src/block/posts/schema.js
  src/block/posts/style.js
  src/block/posts/style.scss
  src/block/posts/util.js
  src/block/posts/variations.js
  src/deprecated/v2/block/blog-posts/edit.js
  src/deprecated/v2/block/blog-posts/index.php
Labels: PR: Needs Review, [version] V3, [block] posts

#1684 Fix: Fixes accordion and video popup icon link
  src/block-components/helpers/link/attributes.js
  src/block-components/helpers/link/edit.js
  src/block-components/link/index.js
  src/block/video-popup/edit.js
Labels: PR: Needs Review, [version] V3, [block] video popup, [block] accordion

#1695 [V3] Fixes
  src/block-components/separator/style.scss
  src/block/feature-grid/edit.js
  src/block/feature/edit.js
  src/block/feature/index.js
  src/block/feature/save.js
  src/block/feature/schema.js
  src/block/icon-button/style.js
  src/block/icon-list/edit.js
  src/block/icon-list/schema.js
  src/block/posts/index.js
  src/components/div/style.scss
  src/plugins/global-settings/editor.scss
Labels: PR: Reviewed w/ Comments, [version] V3

#1640 Fix: Fixes v2 button paddings when the button size is tiny
  src/deprecated/v2/components/button-edit/style.scss
  src/dynamic-breakpoints.php
Labels: [block] v2 button, PR: Needs Review, [version] V3

#1670 Fix: Change the `sliderMax` based on the Image's width and height value
  src/block-components/image/edit.js
Labels: PR: Needs Review, [version] V3, [block] image
