Repository gambitph/Stackable, pull requests merged in 2022-01, with the labels that each got.

#2106 Add preventScroll to focus.
  src/block/expand/frontend-expand.js
Labels: PR: Good to Merge, [block] Expand

#2112 Fixed misaligned stackable global colors.
  src/plugins/global-settings/colors/editor.scss
Labels: PR: Good to Merge

#1935 [v3.0.3 Candidate] Feat: Image Overlays
  src/block-components/image/attributes.js
  src/block-components/image/edit.js
  src/block-components/image/editor.scss
  src/block-components/image/image.js
  src/block-components/image/index.js
  src/block-components/image/style.js
  src/block-components/image/style.scss
  src/block/image-box/editor.scss
  src/block/image-box/style.scss
  src/block/image-box/variations.js
  src/styles/block-transitions.scss
  src/styles/editor-block-transitions.scss
Labels: enhancement, PR: Good to Merge, [block] Image, [block] Video Popup, [block] Image Box
